body {
    width: 250px;
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

#title {
    font-size: 110%;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    width: 50px; 
    vertical-align: middle; 
    margin-right: 10px; 
    padding-bottom: 5px;
}

.videoItem {
    margin-bottom: 4px;
}

#submit {
    margin-top: 8px;
}
